.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.ql-editor{
  min-height:10rem;
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: #eee !important;
  color: #000 !important;
  overflow: visible;
}
.ql-syntax{
  background-color:#eee !important;
  padding: 0.8rem 0.8rem 0.8rem 1rem;
}
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
blockquote{
  background: #fafafa;
  border-left: 0.6rem solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
}
