.ql-toolbar .ql-stroke {
    fill: none;
    stroke: #fff;
}

.ql-toolbar .ql-fill {
    fill: #fff;
    stroke: none;
}

.ql-toolbar .ql-picker {
    color: #fff;
}

.ql-toolbar .ql-even {
    color: #fff;
}

.ql-toolbar .ql-picker-options {
    background-color: #252836;
}

.quill .ql-editor {
    color: white;
}

.ql-editor {
    min-height: 10rem;
}

.ql-snow .ql-editor pre.ql-syntax {
    background-color: #283149 !important;
    overflow: visible;
    font-size: 14px !important;
    color: #ABA5B2 !important;
}

.ql-syntax {
    background-color: #283149 !important;
    overflow: visible;
    font-size: 14px;
    color: #ABA5B2;
    padding: 0.8rem 0.8rem 0.8rem 1rem !important;
    margin-top: 5px;
}

blockquote {
    background: #283149 !important;
    border-left: 0.6rem solid #ccc !important;
    margin: 1em 0px !important;
    padding: 0.5em 15px !important;
    color: azure !important;
    font-size: 16px;
}